<div class="venue-container">
    <h1><%= link_to venue.name, venue_path(venue) %></h1>
    <p><%= venue.description %></p>
    <%# the address borrow line is just to get it working on the current database. A venue is invalid without an address, so there should be no reason that a venue exists without an address %>
    <h6><%= render partial: "addresses/address", locals: {address: venue.address ||= Address.all.first } %></h6>
</div>