<h1> Welcome to MyScene </h1>

<h2> Or you can begin searching for concerts




<h3> If you are an artist, please: </h3>
<h4> 
    <%= link_to "Log in", login_path %>
    <%= link_to "or Sign-up", sign_up_path %> 
</h4>

